<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                <h4>Screenshots</h4>
            </div>
        </div>

        <input id="screenshotMaxId" name="screenshotMaxId" type="hidden" value="0" />

        <div id="screenshots">
            {% for screenshot in hit.screenshot_set.all %}
                <a id="screenshot_link_{{screenshot.id}}" href="/api/screenshot/png/{{screenshot.pk}}/" class="screenshot" 
                ondragstart="dragScreenshotStart(event)" ondragend="dragScreenshotStop(event)" 
                data-toggle="tooltip" data-placement="left" title="{{screenshot.caption}}" data-fancybox="gallery" data-screenshot-id="{{screenshot.id}}" data-screenshot-order="{{screenshot.order}}">
                    <img id="screenshot_{{screenshot.id}}" alt="Screenshot not found" class="screenshot_data screenshot_gallery" src="/api/screenshot/png/{{screenshot.pk}}/" />
                </a>
            {% endfor %}
            {% for screenshot in retesthit.retestscreenshot_set.all %}
                <a id="screenshot_link_{{screenshot.id}}" href="/api/retestscreenshot/png/{{screenshot.pk}}/" class="screenshot" 
                ondragstart="dragScreenshotStart(event)" ondragend="dragScreenshotStop(event)" 
                data-toggle="tooltip" data-placement="left" title="{{screenshot.caption}}" data-fancybox="gallery" data-screenshot-id="{{screenshot.id}}" data-screenshot-order="{{screenshot.order}}">
                    <img id="screenshot_{{screenshot.id}}" alt="Screenshot not found" class="screenshot_data screenshot_gallery" src="/api/retestscreenshot/png/{{screenshot.pk}}/" />
                </a>
            {% endfor %}
        </div>

        {% if editable == True %}
        <button type="button" class="btn btn-outline-info mb-4" data-toggle="modal" data-target="#pushScreenshotModal">Add a screenshot</button>
        <button id="deleteZone" type="button" class="btn btn-outline-danger mb-4" ondrop="dropDeleteScreenshot(event)" ondragover="allowDrop(event)">Delete Screenshot Zone</button>
        

        <!-- Push screenshot modal -->
        <div class="modal fade" id="pushScreenshotModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a screenshot</h5>
                        <button type="button" class="close" onclick="resetScreenshotModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="uploadMessage" class="row">
                            <div class="col-lg-12">
                                <h3>Paste your screenshot here!</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <img id="screenshot" class="screenshot_data" src="" />
                            </div>
                        </div>
                        <input type="hidden" id="screenshotData" />
                        <input type="text" id="screenshotCaption" style="width: 100%" placeholder="Caption of screenshot" value="" />
                    </div>
                    <div class="modal-footer">
                        <button id="addScreenshotBtn" type="submit" class="btn btn-outline-primary" onclick="addScreenshot()">Add</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="resetScreenshotModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>